<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Inscriptions of Israel/Palestine | Search Results</title>
	<link href="{{ STATIC_URL }}iip_search_app/css/general.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="top">
	<img src="{{ STATIC_URL }}iip_search_app/images/top_altogether.jpg" alt="Inscriptions of Israel / Palestine" usemap="#imgmap" />
	<map name="imgmap">
  		<area shape="rect" coords="208,40,609,150" href="index.html" alt="Inscriptions of Israel / Palestine" />
  	</map>
</div>

<div id="leftcol">
	<div id="leftcol_links">
		<p><a href="about.html" class="leftcol_link">About</a></p>
		<p><a href="research.html" class="leftcol_link">Research<br />&amp; Teaching</a></p>
		<p><a href="related.html" class="leftcol_link">Related Sites</a></p>
		<p><a href="bibliography.html" class="leftcol_link">Bibliography</a></p>
		<p>&nbsp;</p>
		<p><a href="search.html" class="leftcol_search">Search<br />Inscriptions</a> </p>
		<div id="logos">
			<a href="http://library.brown.edu/cds">
				<img src="{{ STATIC_URL }}iip_search_app/images/cds_logo.gif" alt="CDS" />
			</a>
			&nbsp;&nbsp;
			<a href="http://www.brown.edu/"><img src="{{ STATIC_URL }}iip_search_app/images/brown.gif" alt="Brown University" /></a>
		</div>
	</div>
</div>

<div id="content">
	<span class="h1">Search results for</span> <span class="h1ital"></span>
	<p><a href="search">Back to search page</a></p>

<table id="search_results">
	<thead><tr>
		<th class="col1">Inscription</th>
		<th class="col2">Location</th>
		<th class="col3">Date</th>
		<th class="col4">Description, type, preview</th>
	</tr></thead>
	<tbody>
	{% block content %}{%endblock%}

	</tbody>
	</table>


<div id="narrow_results">
	<h2>Narrow results</h2>
	<h3>Epithet</h3>
		<ul class="narrow_results_list">
			<li><a href="link">Felix (3)</a></li>
			<li><a href="link">good (3)</a></li>
			<li><a href="link">His Serenity (1)</a></li>
			<li><a href="link">holy ones (1)</a></li>
			<li><a href="link">illustrious (2)</a></li>
			<li><a href="link">Invictus (1)</a></li>
			<li><a href="link">king-hero (1)</a></li>
			<li><a href="link">Lesser (3)</a></li>
			<li><a href="link">little (2)</a></li>
			<li><a href="link">Maximianus (2)</a></li>
			<li><a href="link">most beloved (3)</a></li>
		</ul>

	<h3>Title</h3>
		<ul class="narrow_results_list">
			<li><a href="link">head of the synagogue (2)</a></li>
			<li><a href="link">imperator (2)</a></li>
			<li><a href="link">Imperator (2)</a></li>
			<li><a href="link">knight (2)</a></li>
			<li><a href="link">legional legate (2)</a></li>
			<li><a href="link">magnificentissimate (2)</a></li>
		</ul>

</div>

</div>


</body>
</html>
