@charset "UTF-8";

/* color scheme
719281	teal
476757	dark teal
d9e3d0	lighter teal

9e909f	purple
7d627f	dark purple
6c3370	bright purple

eeeddb	beige
b1af89	olive
f5f3dd	sand (background)
*/

html,body {
	margin:0px;
	font-family:Helvetica,Arial,Sans-serif;
	background-image:url('images/left_bg_darker_bb.jpg');
	background-repeat:repeat-y;
	background-color:#f5f3dd;
	height:100%;
	}

a:link {
	text-decoration:underline;
	color:#476757;
	}
a:visited {
	text-decoration:underline;
	color:#476757;
	}
a:hover {
	text-decoration:underline;
	color:#b1af89;
	}

h1 {
	font-size:1.6em;
	font-weight:bold;
	margin:0px;
	color:#476757;
	}

.h1 {
	font-size:1.6em;
	font-weight:bold;
	margin:0px;
	}

.h1ital {
	font-size:1.6em;
	font-weight:bold;
	font-style:italic;
	margin:0px;
	}

h2 {
	font-size:1.3em;
	font-weight:bold;
	margin-top:30px;
	color:#476757;
	}

h3 {
	font-size:1em;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:8px;
	}

ul {
	list-style: circle;
	/*padding-left:2em;*/
	}

li {
	text-align:left;
	margin-bottom:10px;
	}

img {
	border:0px;
	}

#top {
	background-image:url('images/top_bg_darker.jpg');
	background-repeat:repeat-x;
	margin:0px;
	height:256px;
	}


/* ---------- Left column ---------- */

#leftcol {
	width:170px;
	margin:0px;
	position:absolute;
	top:170px;
	left:0px;
	}

#leftcol_links {
	text-align:right;
	padding-right:30px;
	font-weight:bold;
	font-size:0.9em;
	}

a.leftcol_link:link {
	text-transform:uppercase;
	text-decoration:none;
	color:#719281;
	}
a.leftcol_link:visited {
	text-transform:uppercase;
	text-decoration:none;
	color:#719281;
	}
a.leftcol_link:hover {
	text-transform:uppercase;
	text-decoration:none;
	color:#b1af89;
	}

a.leftcol_search:link {
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.2em;
	color:#9e909f;
	}
a.leftcol_search:visited {
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.2em;
	color:#7d627f;
	}
a.leftcol_search:hover {
	text-transform:uppercase;
	text-decoration:none;
	font-size:1.2em;
	color:#b1af89;
	}

/* ---------- Content ---------- */

#search_content {
	position:relative;
	top:-90px;
	left:200px;
	width:78%;
	font-size:0.8em;
	line-height:1.2em;
	text-align:justify;
	padding-bottom:20px;
	}

#text_content {
	position:relative;
	top:-90px;
	left:200px;
	width:78%;
	max-width:700px;
	font-size:0.8em;
	line-height:1.25em;
	text-align:justify;
	padding-bottom:20px;
	}

#logos {
	text-align:right;
	position:relative;
	top:40px;
	}

img.left {
	float:left;
	margin-right:20px;
	margin-bottom:10px;
	}

img.right {
	float:right;
	margin-left:20px;
	margin-bottom:10px;
	}


/* ---------- Search page ---------- */



table#search_box {
	border-collapse:collapse;
	background-color:#d9e3d0;
	width:80%;
	min-width:550px;
	max-width:800px;
	margin-top:20px;
	border:0px;
	text-align:left;
	}

td {
	padding:15px;
	border:0px;
	/* vertical-align: top; */
	}

tr {
	border:0px;
	}

.left_search_col {
	border-right:10px solid #f5f3dd;
	width:48%;
	}

.trcenter {
	vertical-align:middle;
	}

#right_search_col {
	width:48%;
	}

.border_top {
	border-top:10px solid #f5f3dd;
	vertical-align:top;
	}

.indent {
	margin-left:15px;
	}

input {
	border:1px solid #999;
	padding:4px;
	font-size:1.4em;
	font-family:helvetica,arial,sans-serif;
	}

select {
	border:1px solid #999;
	padding:4px;
	font-family:helvetica,arial,sans-serif;
	}

option {
	padding-bottom:3px;
	}

.button {
	font-size:1em;
	text-transform:uppercase;
	font-weight:bold;
	}

#search_tips {
	margin-top:20px;
	max-width:600px;
	}

/* ---------- Search results page ---------- */

table#search_results {
	float:left;
	border-collapse:collapse;
	width:75%;
	max-width:800px;
	min-width:450px;
	margin-top:20px;
	border:0px;
	text-align:left;
	}

tr.odd {
	background-color:#e5f0e8;
	}

tr.even {
	background-color:#fff;
	}

thead {
	text-transform:uppercase;
	font-size:0.9em;
	}

.col1 {
	width: 20%;
	padding:7px;
	font-weight:bold;
	}
.col2 {
	width: 20%;
	padding:7px;
	}
.col3 {
	width: 20%;
	padding:7px;
	}
.col4 {
	width: 36%;
	padding:7px;
	}

span.descr_type {
	font-weight:bold;
	margin-bottom:10px;
	}

span.keyword {
	font-weight:bold;
	color:#6c3370;
	}

p.preview {
	font-style:italic;
	}

div#narrow_results {
	float:left;
	width:15%;
	margin-top:50px;
	margin-left:15px;
	border:0px;
	text-align:left;
	background-color:#eeeddb;
	padding:15px;
	}

ul.narrow_results_list {
	margin-left:-20px;
	line-height:1.5em;
	}


/* ---------- Bibliography ---------- */

table#bibliography {
	border-collapse:collapse;
	background-color:#d9e3d0;
	width:100%;
	margin-top:0px;
	border:0px;
	text-align:left;
	}

td.bibliography {
	padding:0 0 0 3px;
	border:1px #f5f3dd solid;
	margin:0px;
	/* vertical-align: top; */
	}

tr.bibliography {
	padding:0px;
	border:0px;
	margin:0px;
	}
